<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite Demo" thread-count="5" parallel="methods">
	<test name="D:\Automation_Java_workspace\AutomationDemo_1\src\tests"
		verbose="2" preserve-order="true">
		<groups>
			<run>
				<include name="suiteone"></include>
			</run>
		</groups>
		<classes>
			<class name="tests.HTMLTests" />
			<class name="tests.LoginTests" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
